@page "/Tecnico/Details"
@page "/Tecnico/Details/{TecnicoId:int}"
@inject TecnicoServices tecnicoServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Detalles</PageTitle>

@if (tecnico != null)
{
    <div class="container">
        <div class="card shadow-header">
            <div class="card-header bg-primary text-center text-white py-2 rounded">
                <h3 style="font-weight: bold;" class="font-weight-bold">Detalles del T&eacute;cnico</h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>T&eacute;cnicoId:</strong> @tecnico.TecnicoId</li>
                                <li><strong>Nombres:</strong> @tecnico.Nombres</li>
                                <li><strong>SueldoHora:</strong> @tecnico.Sueldohora</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="/Tecnico/Index" class="btn btn-outline-primary mt-3">
                <span class="bi bi-box-arrow-left"></span> Retroceder
            </a>
        </div>
        </div>
}

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos tecnico { get; set; }

    protected override async Task OnInitializedAsync()
    {
        tecnico = await tecnicoServices.Buscar(TecnicoId);
    }
}
